<div class="d-flex justify-content-center mt-5">
  <div class="card p-3 text-bg-dark" style="width: 50rem; height: 500px">
    <h5 class="card-title text-center">Chat Box</h5>
    <div class="card-body overflow-auto" #messageContainer>
      <div *ngIf="messages && messages.length">
        <div *ngFor="let message of messages">
          <p
            class="m-2 text-white text-bg-dark"
            [ngClass]="{
              'text-end': message?.type === 'sent',
              'text-start': message?.type === 'receive'
            }"
          >
            {{ message.text }}
          </p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <form [formGroup]="chatForm" (ngSubmit)="sendMessage()">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="message"
            #messageInput
          />
          <div class="input-group-append">
            <button class="btn btn-warning" type="submit">
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
